@using BlazorWebMeID.Services
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject BaseUrlProvider BaseUrlProvider

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <div class="nav-item px-3">
                        <span class="bi bi-person-fill" aria-hidden="true"></span> @context.User.Identity?.Name      
                    </div>
                    <div class="nav-item px-3">
                        <form action="/Account/Logout" method="post">
                            <AntiforgeryToken />                     
                            <button type="submit" class="btn btn-link">
                                Logout
                            </button>
                        </form>
                    </div>
                </Authorized>
                <NotAuthorized>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="/Account/Login" data-enhance-nav="false">
                            <span class="bi bi-person-badge" aria-hidden="true"></span> Login
                        </NavLink>
                    </div>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code 
{
    protected override Task OnInitializedAsync()
    {
        BaseUrlProvider.SetBaseUrl(NavigationManager.BaseUri);
        return base.OnInitializedAsync();
    }
}