@page "/directapi"
@using HostedBlazorAad.Shared
@using Microsoft.AspNetCore.Components.QuickGrid
@inject IAntiforgeryHttpClientFactory httpClientFactory
@inject IJSRuntime JSRuntime

<h1>Data from Direct API</h1>

@if (myApiData == null)
{
    <p><em>Loading...</em></p>
}
else
{
<QuickGrid Items="@myGridData">
    <PropertyColumn Property="@(p => p.Id)" Sortable="true" />
    <PropertyColumn Property="@(p => p.Name)" Sortable="true" />
    <PropertyColumn Property="@(p => p.Colour)" Sortable="true" />
</QuickGrid>
}

@code {
    private IEnumerable<MyGridData>? myApiData;
    private IQueryable<MyGridData>? myGridData;

    protected override async Task OnInitializedAsync()
    {
        var client = await httpClientFactory.CreateClientAsync();

        myApiData = await client.GetFromJsonAsync<MyGridData[]>("api/DirectApi");
        myGridData = myGridData!.AsQueryable();
    }
}
